body {
    background: #849d8f;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;   
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;

h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
}
.header {
    
}
.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 26px;
}
.main-logo {
    vertical-align: middle;
    height: 63px;
    width: 153px;

    
}
.main-navigation {
    float: left;
    width: 703px;
    
}
.user-block {
    float: right;
    width: 266px;
    
}
.head-contact {
    float: right;
    width: 266px;
    

}







