body {
    background-color:#849d8f;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
}
